SUPABASE_URL = "https://lhawspoipksxpcliaczr.supabase.co"
 
DATABASE_URL = "postgresql://postgres:PAGLAbaba96@db.lhawspoipksxpcliaczr.supabase.co:6543/postgres"
 
OLLAMA_HOST = "https://ollama.com"
OLLAMA_API_KEY = "27188401e4a141b0a8d19b56312e14c6.mXw-JjcEIIj-TG9yxL-zjzjZ" 